:root {
    --color-primary: #473BF0;
    --color-secondary: #6665DD;
    --color-tertiary: #F3F3F3;
    --preto: #000500;
    
    --temp-animation: 0.25s ease;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--color-tertiary);
    color: var(--color-primary);
    font-family: Switzer, sans-serif;
}

@font-face {
    font-family: Switzer;
    src: url(../fonts/Switzer-Variable.ttf) format("truetype"),
    url(../fonts/Switzer-Variable.ttf) format("woff");
}