@import url(config_global.css);

:root {
    --preto: #000500;
}

.nav {
    height: max(15vh, 75px);
    max-height: 125px;
    background-color: var(--preto);
}

.nav-titulo {
    color: var(--color-primary);
    font-size: 36px;
}

.menu {
    width: 400px;
}

.menu-link {
    list-style: none;
}

.links-menu {
    color: var(--color-tertiary);
    text-decoration: none;
    font-weight: bold;
    transition: var(--temp-animation);
}

.links-menu:hover {
    color: var(--color-primary);
}

.button-menu {
    box-shadow: 4px 16px 26px rgba(71, 59, 240, 0.3);
}

.button-menu:hover {
    background: var(--color-secondary);
}

/* Desenhando o menu hamburgue */

.menu-hamburguer {
    background-color: var(--color-primary);
    border-radius: 50px;
    padding: 2px;
}

.hamburguer-line {
    background: var(--preto);
    width: 25px;
    height: 3px;
    margin: 7px;
}

/* Controle da Responsividade do menu */

.menu-control {
    display: none;
}


.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon > img {
    height: 20px;
}

.menu-control:checked + .menu {
    transform: translateX(0);
}

/* Responsividade */

@media (max-width: 775px) {
    .menu {
        background-color: var(--preto);
        box-shadow: -3px 0px 11px 13px rgba(0, 0, 0, 0.4);

        top: 0;
        right: 0;

        height: 100%;
        width: 50vw;

        position: fixed;
        display: flex;
        z-index: 1;

        transform: translateX(110%);
        transition: transform 0.5s ease;
    }

    .menu-links {
        height: 70%;
    }

    .menu-links, .menu {
        flex-direction: column;
        flex-wrap: initial;

        justify-content: space-around;
        align-items: center;
    }

    .menu-icon {
        display: inline-block;
        z-index: 1;
    }

    .menu-icon:hover {
        /* filter: sepia(2%) saturate(68%) brightness(100%) contrast(93%); */
        filter: brightness(2);
    }
}