@import url(config_global.css);
@import url(nav.css);

.start {
    height: min(85vh, 750px);
    background: url(../img/start_bg.jpg) no-repeat;
    background: var(--color-primary) url(../img/start_bg.jpg) no-repeat;
    background-position: center 100%;
}

.benefits {
    height: 450px;
}

.housers {
    background: linear-gradient(360deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    min-height: 650px;
    padding: 40px 0 80px;
}

/* Posicionamento de elementos dos containers */

.container {
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-nav, .menu-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-start {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-benefits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-housers {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-gap: 20px;
}

.benefits-item, .housers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container Start, Seção inicial */

.start-title {
    width: min(100%, 24ch);
    color: var(--color-tertiary);
    font-weight: bold;
    font-size: 64px;
    line-height: 1em;
}

.start-arrow {
    width: 35px;
    cursor: pointer;
    position: absolute;
    align-self: center;
    bottom: 25px;
}

/* Container Benefits, Seção com os beneficios */

.benefits-item {
    justify-content: space-between;
    text-align: center;
    line-height: 1em;

    height: 200px;
    width: 180px;
    margin: 0 5px;
}

.benefits-item > p {
    font-size: 17px;
    font-weight: normal;
}

/* Container Housers, Seção contendo fotos das casas */

.container-housers {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.housers-text {
    text-align: center;
    color: var(--color-tertiary);
    margin-bottom: 35px;
}

.housers-title {
    font-size: 42px;
}

.housers-description {
    font-size: 21px;
    margin-bottom: 10px;
}

.housers-img {
    width: 100%;
    max-width: 350px;
}

/* Botões */

.button {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    transition: background var(--temp-animation);
}

/* Responsividade */

@media (max-width: 550px) { 
    .start-arrow {
        bottom: 0;
    }

    .start-title {
        font-size: 58px
    }

    .benefits {
        height: 550px;
    }

    .benefits-item {
        height: 185px;
    }
}