@import url(config_global.css);
@import url(footer.css);
@import url(nav.css);

.start {
    height: min(85vh, 750px);
    background: var(--color-primary) url(../img/start_bg.jpg) no-repeat;
    background-position: center 100%;
}

.benefits,
.testimonies,
.contact {
    overflow-x: hidden;
}

.benefits {
    height: 450px;
}

.housers,
.contact {
    padding: 40px 0 80px;
}

.housers {
    background: linear-gradient(360deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    min-height: 650px;
}

.testimonies {
    padding: 40px 0;
}

/* Posicionamento de elementos dos containers */

.container {
    height: 100%;
    width: min(90%, 1100px);
    margin: 0 auto;
}

.container-nav, .menu-links,
.container-testimonies, 
.card-testimonies,
.footer-social_networks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-start {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-benefits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.container-housers {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-gap: 20px;
}

.benefits-item, .housers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-main,
.testimonies-section,
.three-dots,
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonies-commentary,
.testimonies-profile,
.card-testimonies {
    display: flex;
    align-items: center;
}

.container-footer-secondary,
.footer-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container Start, Seção inicial */

.start-title {
    width: min(100%, 24ch);
    color: var(--color-tertiary);
    font-weight: bold;
    font-size: 64px;
    line-height: 1em;
}

.start-arrow {
    width: 35px;
    cursor: pointer;
    position: absolute;
    align-self: center;
    bottom: 25px;
}

/* Container Benefits, Seção com os beneficios */

.benefits-item {
    justify-content: space-between;
    text-align: center;
    line-height: 1em;

    height: 200px;
    width: 180px;
}

/* Container Housers, Seção contendo fotos das casas */

.container-housers {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.housers-text {
    color: var(--color-tertiary);
}

.housers-img {
    width: min(100%, 350px);
    transition: var(--temp-animation);
}

.housers-img:hover {
    filter: opacity(0.9) grayscale(0.1) brightness(0.95);
}

/* Container Testemunhas */

.container-testimonies {
    gap: 20px;
}

.testimonies-profile {
    position: relative;
}

.card {
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    box-shadow: 4px 16px 30px rgba(71, 59, 240, 0.2);
    color: var(--color-tertiary);
    transition: var(--temp-animation);
}

.card:hover {
    transform: scale(1.05);
}

.card-main,
.testimonies-section {
    height: 275px;
}

.profile-image-main,
.profile-image {
    transition: var(--temp-animation);
}

.profile-image-main:hover,
.profile-image:hover {
    filter: grayscale(0.6);
}

/** 
* Card principal, o maior
**/

.card-main {
    width: 600px;
    padding: 25px 40px;
}

.profile-image-main {
    height: 120px;
    margin-right: 12px;
}

.profile-name-main {
    font-size: 30px;
}

.profile-star {
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-end;
    height: 47.5px;
}

.commentary-line {
    background: var(--color-tertiary);
    height: 90px;
    width: 15px;
    margin: 0 20px 0 15px;
}

.commentary-text {
    line-height: 1em;
    font-size: 18px;
}

/** 
* Cards menores
**/

.testimonies-section,
.card-testimonies {
    width: clamp(250px, 100%, 450px);
}

.card-testimonies {
    height: 80px;
    padding: 5px 20px;
}

.profile-image {
    height: 67px;
    margin-right: 12px;
}

.profile-name {
    font-size: 20px;
}

.three-dots {
    height: 30px;
    cursor: pointer;
}

.dot {
    --size: 6.5px;
    height: var(--size);
    width: var(--size);

    background: var(--color-tertiary);
    border-radius: 50px;
}

/* Container Contatos */

.container-contact, 
.form-topic {
    display: flex;
    align-items: center;
}

.contact-image {
    width: 40%;
    margin-right: 25px;
}

.contact-image img {
    width: calc(100% - 10px);
    max-width: 466px;
    height: 460px;
    object-fit: cover;
    object-position: right;
}

.contact-form {
    width: 60%;
    gap: 25px;
}

.form-topic {
    cursor: pointer;
    margin-bottom: 10px;
}

.form-topic img {
    margin-right: 15px;
}

.form-button {
    font-size: 18px;
    padding: 10px;
}

/* Texto */

.section-text {
    text-align: center;
    margin: 0 20px 40px;
}

.title {
    font-size: 42px;
}

.paragraph {
    font-size: 21px;
}

/* Botões e input */

.button {
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-weight: bold;
    
    cursor: pointer;
    padding: 15px;
    transition: background var(--temp-animation);
}

.button:hover {
    background: var(--color-secondary);
}

.input {
    background: var(--color-tertiary);
    border: 2px solid #6361DF;
    height: 35px;
    width: 100%;
    padding: 5px 15px;
}

.input::placeholder {
    font-size: 12px;
}

.input-area {
    height: 150px;
    font-family: var(--font);
    resize: none;
}

/* Responsividade */

@media (max-width: 1000px) { 
    .container-testimonies {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .benefits {
        height: 475px;
    }

    .contact-image {
        display: none;
    }

    .contact-form {
        width: 100%;
    }

    .container-footer-secondary {
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    .benefits {
        height: auto;
        padding: 75px 0;
    }

    .benefits-item {
        height: 185px;
    }
}

@media (max-width: 775px) {
    .housers,
    .contact {
        padding: 65px 0 100px;
    }

    .testimonies {
        padding: 65px 0 0;
    }

    .title {
        font-size: 38px;
    }
    
    .paragraph {
        font-size: 19px;
    }

    .profile-star {
        height: 40px;
    }
}

@media (max-width: 550px) { 
    .start-title {
        font-size: 54px;
    }

    .profile-name-main {
        font-size: 28px;
    }

    .profile-star {
        display: none;
    }
}

@media (max-height: 450px) {
    .start-arrow {
        bottom: 0;
    }
}